html, body {
    background-color: #2d3c49;
    height: 100%;
}

h1,h2 {
    color : #02b3e4;
}

p {
    font-size: 1.2em;
    color: #7d97ad;
}

.section-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

#head {
    margin-bottom: 10px;
    border-bottom: 1px dashed #02b3e4;
}
.head-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    align-items: center;
}

.head-flex img {
    width: 20%;
    height: 20%; 
}

#projects {
    flex: 1 0 auto;
}

.flex-continer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-item {
    border: 1px solid #7d97ad;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height:400px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.flex-item img {
    border: 1px dashed #02b3e4;
    width: 100%;
    height: 50%;
}

#footer {
    width:100%;
    height:60px;   /* Height of the footer */
    background:#0202025c;
    text-align: center;
    color: white;
    flex-shrink: 0;
    margin-top: 40px;
 }